.MenuToggler {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.MenuToggler span,
.MenuToggler span::before,
.MenuToggler span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.MenuToggler span::before,
.MenuToggler span::after {
  content: '';
  position: absolute;
}

.MenuToggler span::before {
  top: 7px;
}

.MenuToggler span::after {
  bottom: 7px;
}
